{% extends 'navbar.html' %}

{% block content %}

{% load staticfiles %}

    <main role="main">
        <div class="row">
            <h1 class="text-center pt-3">{{ presentations.title }}</h1>
            <br/>
            {{ presentations.text }}

            <script>
                if ({{ presentations.id }} == 1
                )
                {
                    document.write('<embed src="{% static 'Attenuation Bias MCS.pdf' %}" , type="application/pdf" width="100%" height="800px"/>');
                }
                else
                if ({{ presentations.id }} == 2
                )
                {
                    document.write('<embed src="{% static 'Euro Bond Analysis.pdf' %}" , type="application/pdf" width="100%" height="800px"/>');
                }
                else
                if ({{ presentations.id }} == 3
                )
                {
                    document.write('<embed src="{% static 'Time Use during recession.pdf' %}" , type="application/pdf" width="100%" height="800px"/>');
                }
                else
                if ({{ presentations.id }} == 4
                )
                {
                    document.write('<embed src="{% static 'Monetary  policy.pdf' %}" , type="application/pdf" width="100%" height="800px"/>');
                }
                else
                if ({{ presentations.id }} == 5
                )
                {
                    document.write('<embed src="{% static 'WPA Report - Parametric Methods.pdf' %}" , type="application/pdf" width="100%" height="800px"/>');
                }
                else
                {
                    alert('File Not Loaded');
                }
            </script>


            <br/>
            <hr/>

        </div>



{% endblock %}